@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&family=Nokora:wght@300;400;700;900&display=swap");

@font-face {
  font-family: "Articulat CF";
  font-style: normal;
  src: local("Articulat CF"),
    url("/assets/fonts/ArticulatCF-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Articulat CF";
    font-style: normal;
    font-weight: 600;
    src: local("Articulat CF"),
      url("/assets/fonts/ArticulatCF-Medium.otf") format("opentype");
  }
