.section {
  padding-top: 32px;
  background-color: #000;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;

  &_title {
    color: #fff;
    font-family: Articulat CF;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
  }

  &_desc {
    color: rgba(255, 255, 255, 0.5);
    font-family: Articulat CF;
    font-weight: 500;
    line-height: 120%;
    margin-top: 12px;
  }
}

.wrapper {
  display: flex;
  gap: 34px;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  flex: 0 1 204px;
}
