.cover {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
}

.content {
  background-color: #262626;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  color: #fff;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 600;
  line-height: 108%;
  margin-bottom: 12px;
}

.artist {
  color: #666;
  font-family: Articulat CF;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
}
