.section {
  padding-top: 72px;
  background-color: #12303b;
  min-height: calc(100vh - 130px);
}

.container {
  display: grid;
  grid-template: 
    'image'
    'title'
    'desc'
    'play'
  ;

  @include above('s') {
    grid-template: 
    'image play title' 
    'image play desc'
    / auto auto 1fr
  ; 
  }
}

.image {
  margin: 0 auto 12px;
  grid-area: image;
  border: 1px solid #666;
  border-radius: 5px;

  @include above('s') {
    margin: 0 34px 0 0;
  }
}

.data {
  margin-bottom: 32px;
}

.title {
  color: #fff;
  font-family: Articulat CF;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 12px;
  grid-area: title;
  align-self: self-end;
}

.desc {
  color: rgba(255, 255, 255, 0.9);
  font-family: Articulat CF;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
  grid-area: desc;
  align-self: self-start;

}

.button {
  border: none;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  grid-area: play;

  @include above('s') {
    margin-right: 38px;
    align-self: center;
  }
}

.icon {
  width: 32px;
  fill: #000;
}
